.button {
	-fx-background-color: transparent;
	-fx-padding: 0px;
}

.button:hover,
.button:focused {
	-fx-background-color: #00000020;
}

.button:pressed {
	-fx-background-color: #00000030;
}

.discreet.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-font-size: 16;
    -fx-padding: 0 0 0 6;
    -fx-background-insets: 0;
}

.discreet.text-field:hover,
.discreet.text-field:focused {
    -fx-background-insets: 0, 1, 2;
}